body {
    background-color: #192231;
    font-family: sans-serif;
}

#container {
    display: flex;
    align-items: stretch;
    padding: 5px;
    flex-direction: row;
    max-height: 70vh;
}

#info {
    flex-grow: 1;
    flex-basis: auto;
    border-color: #494E6B;
    border-style: solid;
    margin: 5px;
    flex: 1 1 auto;
    width: 30%;
    overflow: auto;
}

#svgwrap {
    flex-basis: auto;
    border-style: solid;
    border-color: #494E6B;
    margin: 5px;
    flex: 3 1 auto;
    width: 70%;
}

#expand-doc {
    display: flex;
    justify-content: center;
}

#svgwrap svg {
    height: 100%;
    width: 100%;
}

#doc-button {
    display: block;
}

#icon-triangle {
    fill:#494E6B;
    stroke:transparent;
    stroke-width:1
}

.expanded {
    fill: #6B6F8D;

}

a svg:hover #icon-circle {
    stroke: #999;
}

a svg:hover #icon-triangle {
    fill: #999;
}

h1, h2, p {
    display: flex;
    justify-content: center;
    color: #DDD;
    font-family: 'Raleway', sans-serif;
}

h1, h2 {
    letter-spacing: 3px;
}

p {
    padding: 3%;
    letter-spacing: 2px;
    text-align: center;
}

#documentation-content {
    display: none;
}

/*Animation*/
/*Circles*/
@keyframes outshow {
    0% { opacity: 1;}
    50% { opacity: 0}
    100% {opacity: 1;}
}

@keyframes top-circle-move {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes bottom-circle-move {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes circle1-move {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(10%, 10%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes circle2-move {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-10%, -10%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}



@keyframes circle3-move {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(10%, -10%);
    }

    100% {
        transform: translate(0%, 0%);

    }
}

@keyframes circle4-move {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-10%, 10%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.top-circle {
    animation: top-circle-move 5s ease infinite;
}

.bottom-circle {
    animation: bottom-circle-move 5s ease infinite;
}

.circle1 {
    animation: circle1-move 5s ease infinite;
}

.circle2 {
    animation: circle2-move 5s ease infinite;
}

.circle3 {
    animation: circle3-move 5s ease infinite;
}

.circle4 {
    animation: circle4-move 5s ease infinite;
}

.circles {
    fill: #6844ff;
}

/*Particle animation*/
@keyframes particles {
    0% {transform: translate(0%,0%)}
    5% {transform: translate(3%, 7%)}
    10% {transform: translate(8%, 16%)}
    15% {transform: translate(15%, 26%)}
    20% {transform: translate(23%, 35%)}
    25% {transform: translate(28%, 44%)}
    30% {transform: translate(36%, 48%)}
    35% {transform: translate(43%, 54%)}
    40% {transform: translate(54%, 60%)}
    45% {transform: translate(60%, 64%)}
    50% {transform: translate(65%, 70%)}
    55% {transform: translate(71%, 76%)}
    60% {transform: translate(77%, 81%)}
    65% {transform: translate(81%, 86%)}
    70% {transform: translate(85%, 91%)}

    100% {transform: translate(100%, 100%)}
}

#particles-group-1 {
    animation: particles 1s ease infinite;
}

#particles-group-2 {
    animation: particles 1.2s ease infinite;
}

#particles-group-3 {
    animation: particles 0.90s ease infinite;
}

#particles-group-4 {
    animation: particles 0.95s ease infinite;
}

#particles-group-5 {
    animation: particles 1.1s ease infinite;
}

/*Rectangle animation */
@keyframes rectangle-1 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(0%, 10%);

    }
    50% {
        transform: translate(5%, 10%);
    }
    75% {
        transform: translate(5%, 0%);
    }
    100% {
        transform: translate(0%,0%);

    }
}

@keyframes rectangle-2 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(5%, 0%);

    }
    50% {
        transform: translate(5%, -10%);
    }
    75% {
        transform: translate(0%, -10%);
    }
    100% {
        transform: translate(0%,0%);
    }
}

@keyframes rectangle-3 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(-5%, 0%);

    }
    50% {
        transform: translate(-5%, 10%);
    }
    75% {
        transform: translate(0%, 10%);
    }
    100% {
        transform: translate(0%,0%);
    }
}

@keyframes rectangle-4 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(0%, -10%);

    }
    50% {
        transform: translate(-5%, -10%);
    }
    75% {
        transform: translate(-5%, 0%);
    }
    100% {
        transform: translate(0%,0%);

    }
}

.rect-1-rotate{
    animation: rectangle-1 3s ease infinite;
}

.rect-2-rotate {
    animation: rectangle-2 3s ease infinite;
}

.rect-3-rotate {
    animation: rectangle-3 3s ease infinite;
}

.rect-4-rotate {
    animation: rectangle-4 3s ease infinite;
}

/*Alternate rectangle animation*/
.rect-1-alternate {
    fill: #DDD;
    animation: rectangle-2 3s ease infinite;
}

.rect-2-alternate {
    fill: #DDD;
    animation: rectangle-4 3s ease infinite;
}

.rect-3-alternate {
    fill: #DDD;
    animation: rectangle-1 3s ease infinite;
}

.rect-4-alternate {
    fill: #DDD;
    animation: rectangle-3 3s ease infinite;
}
